{%extends 'main.html'%}


{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" class="h4 pt-5">Chatroom</label>
                        <textarea readonly=true class="form-control" id="chat-text" rows="10"></textarea>
                    </div>

                    <div class="form-group">
                        <input class="form-group" id="input" type="text">
                    </div>

                    <input class="btn btn-secondary btn-lg btn-block" id="submit" type="button" value="Send">


                   
                </form>


            </div>

            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Your chat history</th>
                    </tr>

                    {% for i in chathistory %}
                        <tr>
                           <td>{{i.chatRoom.name}}</td> 
                           <td><a class="btn btn-sm btn-dark" href="{% url 'room' i.chatRoom.name %}" style="color:white">Join</a></td>
                        </tr>
                    {% endfor%}
                </table>
            </div>

        </div>
    </div>

{#    <textarea id="chat-text" cols="80" rows="30"></textarea><br>#}
{#    <input id="input" type="text" size="80"></br>#}
{#    <input id="submit" type="button" value="Send">#}


    {{room_name|json_script:"room-name"}}
    {{request.user.username|json_script:"user_username"}}

    <script>

        const user_username=JSON.parse(document.getElementById('user_username').textContent);
        const roomName=JSON.parse(document.getElementById('room-name').textContent);

        
        document.querySelector('#submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#input');
            const message = messageInputDom.value;
            // trimite date(mesajul trimis in chat) serverului pt a apela functia care adauga mesajul in tabela
            $.post("{% url 'message' %}",{
                "room-name":roomName,
                "content":message,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            })
            chatSocket.send(JSON.stringify({
                'message' : message,
                'username' : user_username,
            }));
        messageInputDom.value='';
        };


        const chatSocket= new WebSocket(
            'ws://' +
            window.location.host +
            '/ws/chat/' +
            roomName +
            '/'
        );

        chatSocket.onmessage=function(e){
            const data=JSON.parse(e.data);
            console.log(data)
            document.querySelector('#chat-text').value += 
                (data.username + ': ' +  data.message + '\n');
        }



    </script>


    {% endblock content%}
    